.header_title .ant-typography {
  color: #fff;
}

.header {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
}

.header h1 {
  transform: translateY(5px);
}

.header_logout {
  position: absolute;
  right: 0;
  top: 0;
}