@media (max-width: 600px) {

  .ant-layout-header {
    padding: 0 35px 0 20px;
  }

  .ant-layout-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
  }

  .header h1 {
    text-align: left;
  }

  .ant-layout-content {
    padding-top: 60px;
  }

  .contacts_list_wrapper {
    padding: 30px 20px !important;
  }

  .ant-list-item {
    padding: 15px 15px 5px !important;
  }

  .search_and_add_toolbar {
    flex-direction: column;
    align-items: center;
    gap: 10px !important;
  }

  .search_and_add_toolbar .ant-btn-default {
    max-width: 250px;
  }

  .ant-modal {
    max-width: 90vw;
  }

  .ant-modal-header {
    padding-right: 45px;
  }

  .login_form .ant-col {
    margin: 0;
  }

  .login_form .ant-btn-primary {
    margin: 40px auto;
    width: 100%;
  }
}


@media (max-width: 480px) {

  .ant-layout-header {
    padding: 0 30px 0 15px;
  }

  .header h1 {
    font-size: 28px !important;
    transform: translateY(12px) !important;
  }

  .contacts_list_wrapper {
    padding: 30px 10px !important;
  }

  .ant-list-item {
    padding: 10px 10px 5px !important;
  }

  .ant-list-item-meta-avatar {
    display: none;
  }

  .contact_title__name h5 {
    font-size: 14px;
  }

  .contact_title__buttons button {
    font-size: 11px;
  }

  .ant-descriptions-item-container {
    justify-content: center;
  }

  .ant-descriptions-item-label {
    width: 50%;
    justify-content: flex-end;
  }

  .ant-descriptions-item-content {
    width: 50%;
  }

  .login_form {
    max-width: 80vw;
  }
}